# This is Git's per-user configuration file.
[core]
	editor = nano
	excludesfile = ~/.gitignore
[push]
	autoSetupRemote = true
[user]
	name = Giancarlo Fusiello
	email = 7973166+GiancarloFusiello@users.noreply.github.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
