# This is Git's per-user configuration file.
[core]
	editor = nano
	excludesfile = /Users/giancarlo/.gitignore
[push]
	default = current
[user]
	name = Giancarlo Fusiello
	email = 7973166+GiancarloFusiello@users.noreply.github.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
